@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Default Font Settings */
    font-family: 'Rubik', sans-serif;
    font-size: 8px;
    font-weight: normal;
    font-style: normal;

    /* Global Variables */
    --tempGridOutline: red;
    --tempGridColor: rgb(251, 211, 137);
    --cellSize: 150px;

}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}


body {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

a {
    text-decoration: none;
}

a:visited {
    color: gray;
}


#right-side-container > div{
    /* background-color: var(--tempGridColor);
    border: 1px solid var(--tempGridOutline); */
}

header, footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

#game-header {
    grid-area: 1 / 1 / 2 / 13;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#left-side-container {
    grid-area: 2 / 1 / 9 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    min-width: fit-content;
    min-height: fit-content;
    padding: 0 10px;
}

.game-btn {
    width: 150px;
    height: 50px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
}

#play-again {
    display: none;
    background-color: cornflowerblue;
}

#right-side-container {
    grid-area: 2 / 10 / 9 / 13;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 5fr;
    min-width: fit-content;
    min-height: fit-content;
    padding: 50px 10px;
}

#score-header {
    width: 100%;
}

#player-one, #player-two {
    border-bottom: 1px solid black;
}

#right-side-container > * {
    display: flex;
    justify-content: center;
    padding: 15px;
}

#score-header {
    grid-area: 1 / 1 / 2 / 3;
    align-items: flex-start;
    padding: 0;
}

#player-one {
    grid-area: 2 / 1 / 3 / 2;
    align-items: flex-end;
    border-right: 1px solid black;
}

#player-two {
    grid-area: 2 / 2 / 3 / 3;
    align-items: flex-end;
}

#p1score { 
    grid-area: 3 / 1 / 4 / 2;
    align-items: flex-start;
    border-right: 1px solid black;
}

#p2score {
    grid-area: 3 / 2 / 4 / 3;
    align-items: flex-start;
}

#game-board-container {
    grid-area: 2 / 4 / 9 / 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    min-height: fit-content;
}

#game-board {
    box-sizing: content-box;
    width: calc(var(--cellSize)*3);
    height: calc(var(--cellSize)*3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cell {
    background-color: white;
    display: flex;
    width: var(--cellSize);
    height: var(--cellSize);
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    border: 1px solid black;
}






.fa-github { 
    font-size: 20px;
    margin-left: 5px;
    color: black;
}